@import "bourbon";

body {
	background: #eee !important;
	padding-top: 45px;
}

.wrapper {
	margin-top: 45px;
  margin-bottom: 80px;
}

.form-signin {
  max-width: 380px;
  padding: 15px 35px 45px;
  margin: 0px auto;
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.1);
	}

  .form-signin-heading,
	.checkbox {
	  margin-bottom: 30px;
	}

	.checkbox {
	  font-weight: normal;
	}

	.form-control {
		margin: 5px;
	  position: relative;
	  font-size: 16px;
	  height: auto;
	  padding: 10px;
		@include box-sizing(border-box);
		&:focus {
		  z-index: 2;
		}
	}

	input[type="text"] {
	  margin-bottom: -1px;
		border-radius: 0;
	}

	#first{
	  margin-bottom: -1px;
	  border-top-left-radius: 4px;
	  border-top-right-radius: 4px;
	}

	#last{
	  margin-bottom: 20px;
	  border-bottom-left-radius: 4px;
	  border-bottom-right-radius: 4px;
	}

	input[type="password"] {
	  margin-bottom: 20px;
	  border-radius: 0;
	}

	.list-group{
		width: 75%;
		margin: auto;
	}

	.author{
		margin: 0 0 5px 0;
	}

	.message{
		width: 75%;
		margin: auto;
		padding-bottom: 15px;
		cursor: pointer;
	}
	.message p{
		display: inline;
		margin-left: 5px;
	}

	textarea{
		resize: none;
	}

	.modal-body label{
		margin-top: 10px;
		margin-bottom: 0px;
	}

	.correct{
		background-color: #DAF7A6;
		text-align: center;
	}

	.incorrect{
		background-color: #F16E51;
		text-align: center;
	}

	.ui-autocomplete.ui-front{
		z-index: 1051;
	}
